//To define a new machine, create a folder in the "machines" folder,
//then create a "machine.config" file in that folder with the structure of this one.

//Relative file names are resolved in the following order:
//1. The current machine directory (where machine.config is)
//2. The machines/Shared directory
//3. The application data directory
//   (as configured in sharedPluginsConfig.dataDirectory, default is $ApplicationData$/NestorMSX)
//4. The application directory (where NestorMSX.exe is)

//Special folder names will be resolved if specified as $folderName$
//(see the full list here: https://msdn.microsoft.com/en-us/library/system.environment.specialfolder)

{
  //Machine emulation parameters,
  //they override the ones defined in
  //the "defaultEmulationParameters" section in MestorMSX.config

  "emulationParameters": {
    //To use a per-machine key mappings file, put it in the machine directory
    //and uncomment the following:
    //"keymapFile": "KeyMappings.txt"
  },

  //This array must contain zero to four numbers 0 to 3.
  //Slots not in the list are considered not expanded.

  "expandedSlots": [ 3 ],

  //These items will be appended to the configuration of all plugins,
  //unless overriden by items with the same keys
  //in the configuration of the slot-pluggable plugins.
  //Config items for all plugins in all machines can be defined in machine.config.

  "sharedPluginsConfig": { },

  //Slot contents.
  //Keys are slot numbers. Expanded slots can be specified in the form "main-sub" (e.g. "3-1")
  //or as decimal or hexadecimal numbers (e.g. 135, "#87").
  //"type" is the name of the plugin, it can be the plugin friendly name or the full class name;
  //everything else is passed to the plugin as its config.

  "slots": {
    "0": {
      "type": "ROM",
      "page": 0,
      "file": "MSX2.rom"
    },
    "1": {
      "type": "Nextor",
      "kernelFile": "Nextor-2.0.4.StandaloneASCII8.ROM",
      //Attach up to 7 storage devices as image files here.
      //Files can have any content, you can partition them using Nextor's FDISK.
      //sharedPluginsConfig.diskImagesDirectory is used to resolve relative paths.
      "diskImageFiles": [
        //"HdImage.dsk"
      ]
    },
    //You can disable slots by using any non-number as the slot number
    "_1": {
      "type": "ROM",
      "file": "somefile.rom"
    },
    "3-1": {
      "type": "ROM",
      "page": 0,
      "file": "MSX2EXT.rom"
    },
    "3-2": {
      "type": "Mapped RAM",
      "sizeInKb": 1024
    },
    "3-3": {
      "type": "MSX-DOS",
      "kernelFile": "FDD.ROM",
      "numberOfDrives": 2,
      "diskImageFiles": [
        //These should be properly formatted floppy disk image files.
        //sharedPluginsConfig.diskImagesDirectory is used to resolve relative paths.
        "NextorAndMsxDos.dsk"
      ]
    }
  },

  //Machine-specific plugins that aren't plugged in a slot.
  //Plugins having '"active": false' will be ignored,
  //even if they are listed as active in NestorMSX.config.
  //They key of the configuration object must be the friendly name or the full class name of the plugin.

  "plugins": {
    "Debugger": {
      "autoShowConsole": false
    },
    "Filesystem integration": { }
    //Example of per-machine plugin disable:
    //"Copy and Paste": {
    //  "active": false
    //}
  }
}
