{
  //Machine emulation parameters,
  //they override the ones defined in
  //the "defaultEmulationParameters" section in MestorMSX.config

  "emulationParameters": {

  },

  //This array must contain zero to four numbers 0 to 3.
  //Slots not in the list are considered not expanded.

  "expandedSlots": [ 0,1,2,3 ],

  //These items will be appended to the configuration of all plugins,
  //unless overriden by items with the same keys
  //in the configuration of the slot-pluggable plugins.
  //Config items for all plugins in all machines can be defined in machine.config.

  "sharedPluginsConfig": {
    "dataDirectory": "$MyDocuments$/NestorMSX"
  },

  //Slot contents.
  //Keys are slot numbers. Expanded slots can be specified in the form "main-sub" (e.g. "3-1")
  //or as decimal or hexadecimal numbers (e.g. 135, "#87").
  //"type" is the name of the plugin.

    "slots": {
        "0-0": {
            "type": "ROM",
            "page": 0,
            "file": "MSX2.rom"
        },
        "0-1": {
            "type": "Mapped RAM"
        },
        "0-2": {
            "type": "Mapped RAM"
        },
        "0-3": {
            "type": "Mapped RAM"
        },
        "1-0": {
            "type": "Nextor",
            "kernelFile": "Nextor-2.0.4.StandaloneASCII8.ROM",
            "diskImageFile": "$UserProfile$\\Dropbox\\MSX\\msxdos\\500M.dsk"
        },
        "1-1": {
            "type": "Mapped RAM"
        },
        "1-2": {
            "type": "Mapped RAM"
        },
        "1-3": {
            "type": "Mapped RAM"
        },
        "2-0": {
            "type": "Mapped RAM"
        },
        "2-1": {
            "type": "Mapped RAM"
        },
        "2-2": {
            "type": "Mapped RAM"
        },
        "2-3": {
            "type": "Mapped RAM"
        },
        "3-0": {
            "type": "Mapped RAM"
        },
        "3-1": {
            "type": "ROM",
            "page": 0,
            "file": "MSX2EXT.rom"
        },
        "3-2": {
            "type": "Mapped RAM"
        },
        "3-3": {
            "type": "Mapped RAM"
        }
    },

  //Machine-specific plugins that aren't plugged in a slot.
  //Plugins having '"active": false' will be ignored.

  "plugins": {
    
  }

}