{
  "emulationParameters": {

  },

  "expandedSlots": [ 0,1,2,3 ],

  "sharedPluginsConfig": {
  },

    "slots": {
        "0-0": {
            "type": "ROM",
            "page": 0,
            "file": "MSX2.rom"
        },
        "0-1": {
            "type": "Mapped RAM"
        },
        "0-2": {
            "type": "Mapped RAM"
        },
        "0-3": {
            "type": "Mapped RAM"
        },
        "1-0": {
            "type": "Nextor",
            "kernelFile": "Nextor-2.0.4.StandaloneASCII8.ROM",
            "diskImageFile": "$UserProfile$\\Dropbox\\MSX\\msxdos\\500M.dsk"
        },
        "1-1": {
            "type": "Mapped RAM"
        },
        "1-2": {
            "type": "Mapped RAM"
        },
        "1-3": {
            "type": "Mapped RAM"
        },
        "2-0": {
            "type": "Mapped RAM"
        },
        "2-1": {
            "type": "Mapped RAM"
        },
        "2-2": {
            "type": "Mapped RAM"
        },
        "2-3": {
            "type": "Mapped RAM"
        },
        "3-0": {
            "type": "Mapped RAM"
        },
        "3-1": {
            "type": "ROM",
            "page": 0,
            "file": "MSX2EXT.rom"
        },
        "3-2": {
            "type": "Mapped RAM"
        },
        "3-3": {
            "type": "Mapped RAM"
        }
    },

  "plugins": {
    
  }

}