{
  "emulationParameters": {
    "vramSizeInKb": 16
  },

  "expandedSlots": [ ],

  "slots": {
    "0": {
      "type": "ROM",
      "page": 0,
      "file": "SpanishMsx1Bios.rom"
    },
    "3": {
      "type": "RAM",
      "size": "0x1000"
    }
  },

  "sharedPluginsConfig": {
  },

  "plugins": {
  }

}