{

  //Default emulation parameters,
  //they can be overriden for each machine
  //in the "emulationParameters" section in machine.config

  "defaultEmulationParameters": {
    "colorsFile": "colors.txt",
    "cpuSpeedInMHz": 0,
    "displayZoomLevel": 2,
    "horizontalMarginInPixels": 8,
    "verticalMarginInPixels": 16,
    "keymapFile": "KeyMappings.txt",
    "vdpFrequencyMultiplier": 1.5,
    "vramSizeInKb": 128
  },

  //These items will be appended to the configuration of all plugins,
  //unless overriden by items with the same keys
  //in the section with the same name in machine.config
  //or in the configuration of the slot-pluggable plugins.
  
  "sharedPluginsConfig": {
    "dataDirectory": "$MyDocuments$/NestorMSX"
  },
  
  //These plugins will be applied to all machines.
  //Plugins having '"active": false' will be ignored.
  
  "plugins": {
    "Clock IC": {},
    
    "Copy and Paste": {
      "active": false,
      "copyKey": "F11",
      "pasteKey": "F12",
      "encoding": "CP850"
    }
  }
}