{

  //Default emulation parameters,
  //they can be overriden for each machine
  //in the "emulationParameters" section in machine.config

  "defaultEmulationParameters": {
    //These apply for MSX1 BIOS only (MSX2 redefines the palette on startup)
    //Each row in the file has the R, G and B components for each color in decimal
    "colorsFile": "colors.txt",

    //Use 0 for maximum possible speed
    "cpuSpeedInMHz": 0,

    "displayZoomLevel": 2,
    "horizontalMarginInPixels": 8,
    "verticalMarginInPixels": 16,

    //This file replicates the MSX keyboard matrix, with the key name in each position.
    //Use a dot (".") to leave keys unmapped.
    //Run NestorMSX with the "keytest" argument to find out the names of the keys.
    "keymapFile": "KeyMappings.txt",

    //The emulated VDP frequency will be 50Hz * this value.
    //Some frequency increase is required to compensate for the emulator poor performance.
    "vdpFrequencyMultiplier": 1.5,

    //16, 64 or 128
    "vramSizeInKb": 128
  },

  //These items will be appended to the configuration of all plugins,
  //unless overriden by items with the same keys
  //in the section with the same name in machine.config
  //or in the configuration of the slot-pluggable plugins.

  "sharedPluginsConfig": {
    "dataDirectory": "$ApplicationData$/NestorMSX",
    "diskImagesDirectory": "$NestorMSX$/DiskImages",
    //"diskImagesDirectory": "$MyDocuments$/NestorMSX/DiskImages"
  },

  //These plugins will be applied to all machines.
  //Plugins having '"active": false' will be ignored.
  
  "plugins": {
    //MSX2 won't boot without this plugin
    "Clock IC": {
      "useSingleDataFileForAllMachines": true
    },

    "Copy and Paste": {
      "active": true,
      "copyKey": "F11",
      "pasteKey": "F12",
      "encoding": "CP850"
    }
  }
}