{
  "sharedPluginsConfig": {
    "filesPath": "theFilesInGlobal"
  },
  
  "plugins": {
    "Clock IC": {},
    
    "Copy and Paste": {
      "copyKey": "F11",
      "pasteKey": "F12",
      "encoding": "CP850"
    },
  
    "Debug form": {
      "active": false,
      "theBoolean": true,
      "theInt": 34,
      "theDecimal": 1.234,
      "theString": "yadda",
      "filesPath": "Uooh!!"
    },

    "foo": {
      "active": false
    }
  }
}