{
  "sharedPluginsConfig": {
    "filesPath": "theFiles"
  },
  
  "plugins": {
  
    "Debug form": {
      "active": false,
      "theBoolean": true,
      "theInt": 34,
      "theDecimal": 1.234,
      "theString": "yadda",
      "filesPath": "Uooh!!"
    },

    "foo": {
      "active": false
    }
  }
}