{
  "emulationParameters": {
    "vramSizeInKb": 16
  },

  "expandedSlots": [ 3 ],

  "slots": {
    "0": {
      "type": "ROM",
      "page": 0,
      "file": "SpanishMsx1Bios.rom"
    },
    "1": {
      "type": "Special DiskBASIC",
      "file": "SpecialDiskBasic.rom",
      "filesystemBasePath": "$MyDocuments$/NestorMSX/FileSystem"
    },
    "3-1": {
      "type": "RAM",
      "baseAddress": 0,
      "size": "0x10000"
    }
  },

  "sharedPluginsConfig": {
  },

  "plugins": {
    "Debugger": { }
    //"Hello World": { }
  }

}