{
  "slots": {
    "0": {
      "type": "ROM",
      "page":  0,
      "file": "SpanishMsx1Bios.rom"
    },
    "1": {
      "type": "Special DiskROM",
      "file": "SpecialDiskROM.rom",
      "filesystemBasePath": "$MyDocuments$/NestorMSX/FileSystem"
    },
    "3": {
      "type": "Mapped RAM",
      "sizeInKb" :  1024
    }
  }
}