{
  "expandedSlots": [  ],

  "slots": {
    "0": {
      "type": "ROM",
      "page": 0,
      "file": "SpanishMsx1Bios.rom"
    },
    "1": {
        "type": "Nextor",
        "kernelFile": "Nextor-2.0.4.StandaloneASCII8.ROM",
        "diskImageFile": "C:\\Users\\Néstor\\Dropbox\\MSX\\msxdos\\500M.dsk"
    },
    "3": {
      "type": "Mapped RAM",
      "sizeInKb": 1024
    }
  },

  "sharedPluginsConfig": {
    "filesPath": "theFiles"
  },

  "plugins": {

    "Debug form": {
      "active": false,
      "theBoolean": true,
      "theInt": 34,
      "theDecimal": 1.234,
      "theString": "yadda",
      "filesPath": "Uooh!!"
    }
  }

}