{
  //Machine emulation parameters,
  //they override the ones defined in
  //the "defaultEmulationParameters" section in MestorMSX.config

  "emulationParameters": {
    "colorsFile": "colors.txt",
    "cpuSpeedInMHz": 0,
    "displayZoomLevel": 2,
    "horizontalMarginInPixels": 8,
    "verticalMarginInPixels": 16,
    "keymapFile": "KeyMappings.txt",
    "VdpFrequencyMultiplier": 1.2
  },

  //This array must contain zero to four numbers 0 to 3.
  //Slots not in the list are considered not expanded.

  "expandedSlots": [ ],

  //These items will be appended to the configuration of all plugins,
  //unless overriden by items with the same keys
  //in the configuration of the slot-pluggable plugins.
  //Config items for all plugins in all machines can be defined in machine.config.

  "sharedPluginsConfig": {
    "filesPath": "theFilesInMachine"
  },

  //Slot contents.
  //Keys are slot numbers. Expanded slots can be specified in the form "main-sub" (e.g. "3-1")
  //or as decimal or hexadecimal numbers (e.g. 135, "#87").
  //"type" is the name of the plugin.

  "slots": {
    "0": {
      "type": "ROM",
      "page": 0,
      "file": "SpanishMsx1Bios.rom"
    },
    "1": {
      "type": "Nextor",
      "kernelFile": "Nextor-2.0.4.StandaloneASCII8.ROM",
      "diskImageFile": "$UserProfile$\\Dropbox\\MSX\\msxdos\\500M.dsk"
    },
    "3": {
      "type": "Mapped RAM",
      "sizeInKb": 1024
    }
  },

  //Machine-specific plugins that aren't plugged in a slot.
  //Plugins having '"active": false' will be ignored.

  "plugins": {
    "Clock IC": { "active": false },
    "Debug form": {
      "active": true,
      "theBoolean": true,
      "theInt": 34,
      "theDecimal": 1.234,
      "theString": "yadda",
      "filesPath": "Uooh!!"
    }
  }

}