{
  "emulationParameters": {

  },

  "expandedSlots": [ ],

  "sharedPluginsConfig": {
  },

  "slots": {
    "0": {
      "type": "ROM",
      "page": 0,
      "file": "SpanishMsx1Bios.rom"
    },
    "1": {
      "type": "Nextor",
      "kernelFile": "Nextor-2.0.4.StandaloneASCII8.ROM",
      "diskImageFiles": [
        "NextorAndMsxDos.dsk"
      ]
    },
    "3": {
      "type": "Mapped RAM",
      "sizeInKb": 1024
    }
  },

  "plugins": {
  }
}