{
  "emulationParameters": { },
  "expandedSlots": [ 3 ],
  "sharedPluginsConfig": {
  },

    "slots": {
        "0": {
            "type": "ROM",
            "page": 0,
            "file": "MSX2.rom"
        },
        "1": {
            "type": "Deviceless MSX-DOS 2",
            "kernelFile": "MSXDOS22.ROM"
        },
        "3-1": {
            "type": "ROM",
            "page": 0,
            "file": "MSX2EXT.rom"
        },
        "3-2": {
            "type": "Mapped RAM",
            "sizeInKb": 1024
        },
        "3-3": {
            "type": "MSX-DOS",
            "kernelFile": "FDD.ROM",
            "numberOfDrives": 2,
            "diskImageFiles": [
              "NextorAndMsxDos.dsk"
          ]
        }
    },

  "plugins": { }

}